.bottomBtnBox {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin: 10px 4.5% 15px 0;
    align-self: flex-end;
}

.left {
    margin: 10px 0 15px 4.5%;
}

.bottomBtn {
    margin: 0 5px 5px 0;
    transition: background-color 0.2s;
    background-color: transparent;
    color: #8a8a8a;
    padding: 5.5px 6.5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    outline: none;
}

.bottomBtn:hover {
    color: #fafafa;
    background-color: #8a8a8a;
}

.bottomBtn:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.activeBtn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}