.srchBox {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 10px 4.5% 15px 0;
    align-self: flex-end;
    max-width: 40%;
}

.srchInput {
    width: 90px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(223, 223, 223, 0.897);
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    transition: all ease-out .2s;
}

.srchInput:focus {
    width: 200px;
    border-bottom: 2px solid rgba(223, 223, 223, 0.897);
}

.srchBtn {
    height: 25px;
    /* background-color: rgb(243, 243, 243); */
    margin-left: 6px;
    outline: none;

    transition: background-color 0.2s;
    background-color: transparent;
    color: #8a8a8a;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    /* line-height: 25px; */
}

.srchBtn:hover {
    color: #fafafa;
    background-color: #8a8a8a;
}

.srchBtn:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}